@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

h1{
	font-family: 'Fredoka One', cursive;
	font-weight: 400;
	color: rgb(3, 72, 95);
}

.botaoBase{
	text-decoration: none;
	font-family: 'Fredoka One', cursive;
	font-weight: 100;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(3, 72, 95);
}


.input01{
	width: 320px;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	border-color: aqua;
}

.input02{
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	border-color: aqua;
}

#tabela{
	font-family: 'PT Sans', sans-serif;
	margin-top: 30px;
	border-collapse: collapse;
	box-shadow: 3px 3px #ddd;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: rgb(3, 72, 95);
	color: #fff;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}

